#contentContainer {
  display: flex;
  width: 100%;
  height: 100%;
}
#rightPanel {
  width: 15%;
  padding: 10px;  
}
#infoPanel {  
  font-size: calc(var(--font-scale) * 0.8em);
}
#customRouteSteps {  
  padding: 10px;
  width: 15%;
  font-size: calc(var(--font-scale) * 0.8em);
  overflow: auto;
  height: 90%;
}
#funFacts {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 15%;
  font-size: calc(var(--font-scale) * 0.8em);
  padding: 10px;
}
.sauce-map-container > .sauce-map > svg.paths .surfaces .clickableRoad {
  stroke-width: 22em;
  stroke: #e9e9e9;
  pointer-events: stroke;
}
.sauce-map-container > .sauce-map > svg.paths .surfaces .clickableRoad:hover {
  stroke: lime;
  stroke-width: 30em;
  cursor: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><line x1="12" y1="0"  x2="12" y2="24" stroke="white" stroke-width="3"/>      <line x1="0"  y1="12" x2="24" y2="12" stroke="white" stroke-width="3"/>    </svg>  ') 12 12, crosshair;
}
.sauce-map-container {
  cursor: unset;
}
.sauce-map-container > .sauce-map > div.entities .entity.spawnPoint {
  width: 2em;
  height: 2em;
  left: -1em;
  top: -1em;
  --fill: red;
  clip-path: polygon(
    50% 0%,
    80% 40%,
    60% 40%,
    60% 100%,
    40% 100%,
    40% 40%,
    20% 40%
  );  
  
  z-index: 1;
}
.sauce-map-container > .sauce-map > div.entities .entity.spawnPoint:hover {
  width: 2.5em;
  height: 2.5em;
  left: -1.25em;
  top: -1.25em;
  --fill: lime;
  z-index: 5;
}
.sauce-map-container > .sauce-map > div.entities .entity.startSpawnPoint {
  width: 2.5em;
  height: 2.5em;
  left: -1.25em;
  top: -1.25em;
  --fill: lime;
  z-index: 5;
}
#chauffeur {
  font-size: calc(var(--font-scale) * 0.9em);
  padding: 10px;
  scroll-behavior: smooth;
  overflow: auto;
  font-variant: small-caps tabular-nums;
  width: 100%;
}
#content {
  font-size: calc(var(--font-scale) * 0.9em);
  padding: 10px;
  scroll-behavior: smooth;
  overflow: auto;
  font-variant: small-caps tabular-nums;
  width: 70%;
}
#content > .elevation-profile {
  width: 100%;
  padding-left: 16%;
  padding-right: 16%;
}
#intersectionsTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
}
#intersectionsTable tr {
  width: 100%;
}
#intersectionsTable td:nth-child(2) {
  text-align: left;
  width: 90%;
  display: flex;
}
#intersectionsTable td:nth-child(1) {
  text-align: center;
  width: 10%;
}
#intersectionsTable th:nth-child(2) {  
  width: 90%;
  display: flex;
}
#intersectionsTable th:nth-child(1) {  
  width: 10%;
}
.passedIntersection {  
  opacity: 0.5;
}
.passedIntersection td:nth-child(2) {
  text-decoration: line-through;
}
.currentIntersection {
  background-image: linear-gradient(135deg, hsl(var(--theme-primary-hue) var(--theme-primary-sat) var(--theme-primary-light)/85%), hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + -10% * var(--theme-primary-shade-dir))/80%));
  color: hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + 100% * var(--theme-primary-shade-dir))/100%);
}
#routeData {
  flex-direction: row;
  font-size: calc(var(--font-scale) * 0.9em);
  flex: 0 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 0% * var(--theme-bookend-shade-dir)), 100%), hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 12% * var(--theme-bookend-shade-dir)), 100%));
  color: hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 100% * var(--theme-bookend-shade-dir)), 100%);
  padding-right: 0.3em;
  padding-left: 33px;
  padding-bottom: 0.1em;
}
.nextOption {
  background-image: linear-gradient(135deg, hsl(var(--theme-primary-hue) var(--theme-primary-sat) var(--theme-primary-light)/85%), hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + -10% * var(--theme-primary-shade-dir))/80%));
  color: hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + 100% * var(--theme-primary-shade-dir))/100%);
}
.routeSetup {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10vh;
  z-index: 9999;
}
.routeSetupInfo {
  padding: 10px;
  background: black;
  width: 60vw;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  font-size: calc(var(--font-scale) * 0.9em);
}
#routeSetupRoutes {
  flex: 0 0 auto;
  padding-left: 25px;
  padding-top: 25px;
  font-size: calc(var(--font-scale) * 1.1em);
}
.routeSetupClose {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #111;
  color: #fff;
  border-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  font-size: calc(var(--font-scale) * 1.3em);
}
#routeSetupStatus {
  background-color: red;
}

#finishButton {
  width: 100%
}
.zenButton {
  cursor: pointer;
  opacity: 0.8;
}
html.solid-background {
  background: var(--background-color);
}
html.solid-background body {
  background: transparent !important;
}
#bmac {
  position: absolute;
  top: 55px;
  right: 8px;
}
.importExport {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10vh;
  z-index: 9999;
}
.importExportInfo {
  padding: 10px;
  background: black;
  width: 60vw;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: calc(var(--font-scale) * 0.8em);
}
#importExportContent {
  height: 100%;
  width: 100%;
}
#importExportText {
  width: 100%;
  height: 100%;
}
#stepOptionsTable tr {
  width: 100%;
}
#stepOptionsTable td:nth-child(1) {
  text-align: left;
  width: 75%;
}
#stepOptionsTable td:nth-child(2) {
  text-align: left;
  width: 25%;
}
#stepOptionsTable td:nth-child(3) {
  display: none;
}
#stepOptionsTable tr.selected {
  background-image: linear-gradient(135deg, hsl(var(--theme-primary-hue) var(--theme-primary-sat) var(--theme-primary-light)/85%), hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + -10% * var(--theme-primary-shade-dir))/80%));
  color: hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + 100% * var(--theme-primary-shade-dir))/100%);
}
#stepOptionsTable tr.option {
  background-color: hsl(var(--theme-intrinsic-inverted-hue), var(--theme-intrinsic-inverted-sat), calc(var(--theme-intrinsic-inverted-light) + 0% * var(--theme-intrinsic-inverted-shade-dir)), 0.2);
}
#stepOptionsTable td.sep {
  padding: 0em;
}
#stepOptionsTable hr.sep-hr {
  border-top: 1px;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.filler {
  flex: 1 1 0;
}
#routeData .button {
  padding: 0.05em 0.3em;
  border-radius: 0.22em;
  text-decoration: none !important;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 200ms, background 200ms;
  font-size: 0.7em;
  margin: 0 0 0 1em;
  background: #111;
  color: #fff;
  border-color: rgba(51, 51, 51, 0.2);
}
#routeData select {
  font-size: calc(var(--font-scale) * 0.8em);
  margin: 0 0 0 1em;
  background: #111;
  color: #fff;
  border-color: rgba(51, 51, 51, 0.2);
}