#infoPanel {
  position: absolute;
  top: 23mm;  
  right: 0;
  padding: 10px;
  font-size: 1em;
}
.sauce-map-container > .sauce-map > svg.paths .surfaces .clickableRoad:hover {
  stroke: lime;
  stroke-width: 30em;
  cursor: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><line x1="12" y1="0"  x2="12" y2="24" stroke="white" stroke-width="3"/>      <line x1="0"  y1="12" x2="24" y2="12" stroke="white" stroke-width="3"/>    </svg>  ') 12 12, crosshair;
}
.sauce-map-container {
  cursor: unset;
}
.sauce-map-container > .sauce-map > div.entities .entity.spawnPoint {
  width: 2em;
  height: 2em;
  left: -1em;
  top: -1em;
  --fill: red;
  clip-path: polygon(
    50% 0%,
    80% 40%,
    60% 40%,
    60% 100%,
    40% 100%,
    40% 40%,
    20% 40%
  );  
  
  z-index: 1;
}
.sauce-map-container > .sauce-map > div.entities .entity.spawnPoint:hover {
  width: 2.5em;
  height: 2.5em;
  left: -1.25em;
  top: -1.25em;
  --fill: lime;
  z-index: 5;
}
.sauce-map-container > .sauce-map > div.entities .entity.startSpawnPoint {
  width: 2.5em;
  height: 2.5em;
  left: -1.25em;
  top: -1.25em;
  --fill: lime;
  z-index: 5;
}

#content {
  font-size: calc(var(--font-scale) * 0.9em);
  padding: 10px;
  scroll-behavior: smooth;
  overflow: auto;
  font-variant: small-caps tabular-nums;
  width: 80%;
}
#content > .elevation-profile {
  width: 80%;
}
#intersectionsTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
}
#intersectionsTable tr {
  width: 100%;
}
#intersectionsTable td:nth-child(2) {
  text-align: left;
  width: 90%;
  display: flex;
}
#intersectionsTable td:nth-child(1) {
  text-align: center;
  width: 10%;
}
#intersectionsTable th:nth-child(2) {  
  width: 90%;
  display: flex;
}
#intersectionsTable th:nth-child(1) {  
  width: 10%;
}
.passedIntersection {  
  opacity: 0.5;
}
.passedIntersection td:nth-child(2) {
  text-decoration: line-through;
}
.currentIntersection {
  background-image: linear-gradient(135deg, hsl(var(--theme-primary-hue) var(--theme-primary-sat) var(--theme-primary-light)/85%), hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + -10% * var(--theme-primary-shade-dir))/80%));
  color: hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + 100% * var(--theme-primary-shade-dir))/100%);
}
#routeData {
  flex-direction: row;
  font-size: calc(var(--font-scale) * 0.9em);
  flex: 0 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 0% * var(--theme-bookend-shade-dir)), 100%), hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 12% * var(--theme-bookend-shade-dir)), 100%));
  color: hsl(var(--theme-bookend-hue), var(--theme-bookend-sat), calc(var(--theme-bookend-light) + 100% * var(--theme-bookend-shade-dir)), 100%);
  padding-right: 0.3em;
  padding-left: 33px;
  padding-bottom: 0.1em;
}
.nextOption {
  background-image: linear-gradient(135deg, hsl(var(--theme-primary-hue) var(--theme-primary-sat) var(--theme-primary-light)/85%), hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + -10% * var(--theme-primary-shade-dir))/80%));
  color: hsl(var(--theme-primary-hue) var(--theme-primary-sat) calc(var(--theme-primary-light) + 100% * var(--theme-primary-shade-dir))/100%);
}