form label key {
  display: inline-block;
  margin-right: 0.4em;
  min-width: 20ch;
}
div .myField {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.3em 1em;
  width: fit-content;
  background-color : hsl(var(--theme-bg-hue) var(--theme-bg-sat) var(--theme-bg-light)/0.82);
  font-variant-numeric: tabular-nums;  
}
div .routeList {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.3em 1em;
  width: fit-content;
  background-color : hsl(var(--theme-bg-hue) var(--theme-bg-sat) var(--theme-bg-light)/0.82);
  font-variant-numeric: tabular-nums;  
}
div .segmentInfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 0em 1em;
  width: auto;
  background-color : hsl(var(--theme-bg-hue) var(--theme-bg-sat) var(--theme-bg-light)/0.4);
  font-variant-numeric: tabular-nums;
}
div .segmentData {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  white-space: nowrap;
  overflow: hidden;
  padding: 0em 1em;
  width: 100%;
  background-color : hsl(var(--theme-bg-hue) var(--theme-bg-sat) var(--theme-bg-light)/0.4);
  font-variant-numeric: tabular-nums;
}
div .segmentData .data {
  width: 100%
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
}
input.options {
  --size: 9
}
.poi-box {
  position: absolute;
  display: none;      
  width: 150px;
}
.poi-input {
  width: inherit;
}
.pin-path {
  fill: red;
  width: 100%;
  height: 100%;
  background-color: white;  
}
.pin-container {  
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.pinSettings {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.pinList {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0.8em;
}

.pin {  
  width: auto;
  height: 50px;
  margin: 2px;
  cursor: pointer;
  background-size: cover;
}

.selected {
  border: 2px solid red;
}